div{
	display: block;
}

body{
	height: 100%;
}

html{
	height: 100%;
}

/* 历史窗口 */

#main_search{
	margin-right: 20%;
}

#history_panel{
	font-size: 14px;
}

.panel_day > h3{
	font-size: 18px;
	font-style: italic;
	font-family: 'Microsoft Yahei', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding-bottom: 5px;
}

.panel_item{
	box-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
	background: #f5f5f5;
	padding: 8px;
	border-radius: 8px;
	border: 1px solid #eee;
}

.panel_item:hover{
	background-color: #4687f170;
}

#recentTab{
	box-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
	background: #FFB900;
	padding: 8px;
	border-radius: 8px;
	border: 1px solid #eee;
}

#recentTab:hover{
	background-color: #D83B0170;
}

.panel_item_title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0px 10px 0px 30px;
	display: block;
	background: no-repeat 10px 0px;
	background-size: 16px 16px;
}

.panel_item_title a{
	color: #3077b6;
}

.panel_item_time{
	float: right;
}

.panel_item_add{
	float: right;
}

.panel_item_add:hover{
	cursor: pointer;
}

.panel_item_add:not([src]) {
  opacity:0; 
}

.panel_item_delete{
	float: right;
}

@-webkit-keyframes rotate{ 
	10% { 
	  transform: rotate(15deg); 
	} 
	20% { 
	  transform: rotate(-10deg); 
	} 
	30% { 
	  transform: rotate(5deg); 
	} 
	40% { 
	  transform: rotate(-5deg); 
	} 
	50%,100% { 
	  transform: rotate(0deg); 
	} 
}

.panel_item_delete:hover{
	cursor: pointer;
	animation: rotate 2.5s .15s linear infinite;
}

.panel_item_url{
	color: rgb(143, 143, 88);
}

.item_image{
	float: left;
}

/* sidebar */
#sidebar{
	position: fixed;
	bottom: 15px;
	right: 15px;
}

#up_arrow{
	width: 36px;
	height: 36px;
}